<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laitteen tiedot</title>
</head>
<body>
<h1>Laitteen tiedot</h1>

  {% for message in get_flashed_messages() %}
      <div style="color: red;">
        <p>
            <b>{{ message }}</b>
        </p>
      </div>
  {% endfor %}

<p><b>Tyyppi:</b> {{ device.type }}</p>
<p><b>Valmistaja:</b> {{ device.manufacturer }}</p>
<p><b>Malli:</b> {{ device.model }}</p>
<p><b>Valmistajan sarjanumero:</b> {{ device.manufacturer_serial }}</p>
<p><b>Sijainti:</b> {{ device.location }}</p>
<p><b>Vastuuhenkilö:</b> {{ device["owner_name"] }}</p>
<p><b>Tila:</b> {{ device.status }}</p>
<p><b>Seuraava ajoitettu toimi:</b> {{ device.next_maintenance or "Ei määritelty" }}</p>

<a href="{{ url_for('edit_device_form', device_id=device['device_id']) }}">Muokkaa</a>

<h2>Laitteen dokumentit</h2>

<ul>
  {% for filename in files %}
    <li>
      <a href="{{ url_for('uploaded_file', filename=filename) }}">{{ filename }}</a>
      <form method="post" action="{{ url_for('delete_device_file', device_id=device['device_id'], filename=filename.split('_', 1)[1]) }}" style="display:inline;">
          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
          <button type="submit" onclick="return confirm('Haluatko varmasti poistaa tiedoston?');">Poista</button>
      </form>
    </li>
  {% else %}
    Ei liitettyjä dokumentteja
  {% endfor %}
</ul>

<h3>Lisää PDF-dokumentti</h3>

<form action="{{ url_for('upload_device_file', device_id=device.device_id) }}" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept="application/pdf">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="Lähetä">
</form>

<h2>Päivitä määräaikaistoimet</h2>

<form action="{{ url_for('update_maintenance_status', device_id=device.device_id) }}" method="post">

    <label>Määräaikaistoimien tila:</label>
    <label>
        <select name="status" required>
            {% for key, value in device_status_map.items() %}
                <option value="{{ key }}" {% if device.status == value %}selected{% endif %}>
                    {{ value }}
                </option>
            {% endfor %}
        </select>
    </label><br>

    <label>Seuraava määräaikaistoimi:</label>
    <label>
        <input type="date" name="next_maintenance" value="{{ device.next_maintenance }}">
    </label><br>

    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

    <button type="submit">Päivitä</button>
</form>

<h2>Poista laite</h2>

<form action="{{ url_for('delete_device', device_id=device.device_id) }}" method="post"
      onsubmit="return confirm('Haluatko varmasti poistaa tämän laitteen?');">

    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

    <button type="submit">Poista</button>
</form><br>

<button type="button" onclick="window.location.href='{{ url_for('devices') }}'">Palaa takaisin</button>

</body>
</html>