<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laitteet</title>
</head>
<body>
<h1>Laiterekisteri</h1>

  {% for message in get_flashed_messages() %}
      <div style="color: red;">
        <p>
            <b>{{ message }}</b>
        </p>
      </div>
  {% endfor %}

<nav>
    <a href="{{ url_for('index') }}">Etusivu</a>
    <a href="{{ url_for('create_device_form') }}">Lisää uusi laite</a>
    <a href="{{ url_for('logout') }}">Kirjaudu ulos</a>
</nav>

<h2>Rekisteröidyt laitteet</h2>
<table cellspacing="10">
    <thead>
        <tr>
            <th><a href="{{ url_for('devices', sort_by='device_id', sort_order='asc' if sort_order == 'desc' else 'desc') }}">ID</a></th>
            <th><a href="{{ url_for('devices', sort_by='type', sort_order='asc' if sort_order == 'desc' else 'desc') }}">Laitetyyppi</a></th>
            <th><a href="{{ url_for('devices', sort_by='manufacturer', sort_order='asc' if sort_order == 'desc' else 'desc') }}">Valmistaja</a></th>
            <th><a href="{{ url_for('devices', sort_by='model', sort_order='asc' if sort_order == 'desc' else 'desc') }}">Malli</a></th>
            <th><a href="{{ url_for('devices', sort_by='location', sort_order='asc' if sort_order == 'desc' else 'desc') }}">Sijainti</a></th>
            <th><a href="{{ url_for('devices', sort_by='status', sort_order='asc' if sort_order == 'desc' else 'desc') }}">Status</a></th>
            <th><a href="{{ url_for('devices', sort_by='next_maintenance', sort_order='asc' if sort_order == 'desc' else 'desc') }}">Määräpäivä</a></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for device in devices %}
            <tr>
                <td>{{ device.device_id }}</td>
                <td>{{ device.type }}</td>
                <td>{{ device.manufacturer }}</td>
                <td>{{ device.model }}</td>
                <td>{{ device.location }}</td>
                <td {% if device.status == "Umpeutunut" %}style="color: red;"{% endif %}>
                    {{ device.status }}
                </td>
                <td>{{ device.next_maintenance or '-' }}</td>
                <td><a href="{{ url_for('device_details', device_id=device.device_id) }}">Lisätiedot</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>
