<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laitteet</title>
</head>
<body>
<h1>Laiterekisteri</h1>

<nav>
    <a href="{{ url_for('index') }}">Etusivu</a>
    <a href="{{ url_for('create_device_form') }}">Lisää uusi laite</a>
    <a href="{{ url_for('logout') }}">Kirjaudu ulos</a>
</nav>

<h2>Rekisteröidyt laitteet</h2>
<ul>
    {% for device in devices %}
        <li>
            <a href="{{ url_for('device_details', device_id=device.device_id) }}">
                ID: {{ device.device_id }}
                --
                {{ device.type }}
                --
                {{ device.manufacturer }} {{ device.model }}
                --
                {{ device.location }}
                --
                {{ device.status }}
            </a>
        </li>
    {% endfor %}
</ul>

</body>
</html>
